.basket {
  display: flex;
  flex-direction: column;
  max-width: 505px;
}

.basket h2 {
  margin: 0;
  font-family: $helveticaNeue;
  font-size: 40px;
  line-height: 46px;
  font-weight: 700;
  color: #000000;
}

.basket__account {
  margin: 0;
  margin-top: 15px;
  font-family: $helveticaNeue;
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  color: #000000;
}

.basket__account a {
  margin-left: 10px;
  color: $text-color;
  text-decoration: none;
  border-bottom: 1px solid $text-color;

  &:hover {
    color: #000000;
    border-bottom: 1px solid #000000;
  }
}

// форма

.basket__form-wrapper form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 22px;
}

.basket__form-wrapper input {
  width: 100%;
  padding-top: 10px;
  height: 44px;
  font-family: $helveticaNeue;
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  border: none;
  border-bottom: 1px solid $text-color;
  box-sizing: border-box;
  outline: none;
  cursor: pointer;

  &::placeholder {
    font-family: $helveticaNeue;
    font-size: 16px;
    line-height: 19px;
    font-weight: 400;
    color: $text-color;
  }
}

.basket__form-wrapper label {
  position: absolute;
  top: -2px;
  left: 2px;
  font-family: $helveticaNeue;
  font-size: 12px;
  line-height: 14px;
  font-weight: 400;
  color: $text-color;
}

.basket__adress-wrapper {
  position: relative;
  margin-top: 10px;
  width: 100%;
}

.basket__email-wrapper,
.basket__comment-wrapper {
  position: relative;
  margin-top: 22px;
  width: 100%;
}

.basket__name-wrapper,
.basket__phone-wrapper {
  position: relative;
  margin-top: 22px;
  width: 47%;
}

.basket__type-wrapper {
  position: relative;
  margin-top: 22px;
  padding-top: 15px;
  height: 44px;
  width: 100%;
  color: $text-color;
  border-bottom: 1px solid $text-color;
  box-sizing: border-box;
  cursor: pointer;

  &::before,
  &::after {
    position: absolute;
    content: '';

    width: 10px;
    height: 1px;
    right: 4px;
    top: 27px;
    background-color: #000000;
  }

  &::before {
    right: 10px;
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}

.basket__type-wrapper p {
  margin: 0;
}

.basket__type-options {
  position: absolute;
  margin: 0;
  padding: 0;
  padding-left: 20px;
  top: 43px;
  left: 0;
  width: 100%;
  list-style: none;
  z-index: 10;
  border: 1px solid $text-color;
  box-sizing: border-box;
  background-color: #ffffff;
}

.basket__type-options .basket__option {
  height: 42px;
  padding: 10px 0;
  box-sizing: border-box;
  cursor: pointer;

  &:hover {
    color: #000000;
  }
}

.basket__type-wrapper--opened .basket__type-options {
  display: block;
}

.basket__type-wrapper--closed .basket__type-options {
  display: none;
}

// товары

.basket__product-wrapper {
  margin-top: 70px;
}

.basket__product-wrapper h3 {
  margin: 0;
  font-family: $helveticaNeue;
  font-size: 28px;
  line-height: 32px;
  font-weight: 700;
  letter-spacing: 0.4px;
  color: #000000;
}

//карточка с товаром

.basket__product-list {
  margin: 0;
  padding: 0;
  margin-top: 30px;
  list-style: none;
}

.basket__product-card {
  display: flex;
  padding-bottom: 25px;
  border-bottom: 1px solid #dedede;
}

.basket__product-card:nth-last-child(1) {
  border-bottom: none;
}

.basket__product-card img {
  display: block;
  width: 150px;
  height: 150px;
}

.basket__product-card:nth-child(n + 2) {
  margin-top: 25px;
}  

.basket__card-description {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 30px;
}

.basket__card-description h4 {
  margin: 0;
  font-family: $helveticaNeue;
  font-size: 20px;
  line-height: 23px;
  font-weight: 700;
  color: #000000;
}

.basket__card-description span {
  font-family: $helveticaNeue;
  font-size: 20px;
  line-height: 23px;
  font-weight: 700;
}

.basket__card-description p {
  margin: 0;
  margin-top: 10px;
  font-family: $helveticaNeue;
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  width: 100%;
  padding-right: 160px;
  box-sizing: border-box;
}

.basket__count-wrapper {
  display: flex;
  border: 1px solid #000000;
  width: 112px;
  height: 38px;
  margin-top: 20px;
}

.basket__count-wrapper button {
  position: relative;
  width: 38px;
  border: none;
  cursor: pointer;
  background-color: transparent;
}

.basket__btn-minus::before {
 position: absolute;
 content: '';

 top: 18px;
 left: 13px;
 width: 18px;
 height: 2px;
 background-color: #000000;
}

.basket__btn-plus {
  &::before,
  &::after {
    position: absolute;
    content: '';
    width: 18px;
    height: 2px;
    top: 17px;
    left: 6px;
    background-color: #000000;
  }

  &::before {
    transform: rotate(90deg);
  }
}

.basket__count-wrapper p {
  font-size: 20px;
  line-height: 23px;
  margin: 0;
  padding: 0;
  padding-top: 7px;
  width: 38px;
  text-align: center;
}

.basket__btn-delete {
  text-align: center;
  text-decoration: underline;
  border: none;
  background-color: transparent;
  align-self: flex-end;
  cursor: pointer;
}

.basket__btn-submit {
  font-family: $helveticaNeue;
  font-size: 20px;
  line-height: 23px;
  font-weight: 700;
  width: 100%;
  height: 70px;
  text-align: center;
  border: 1px solid #000000;
  background-color: #ffffff;
  box-sizing: border-box;
  cursor: pointer;

  &:hover {
    color: #ffffff;
    background-color: #000000;
  }
}