.current-page {
  max-width: 1110px;
  margin: 0 auto;
  margin-top: 50px;
  box-sizing: border-box;
}

.current-page p {
  margin: 0;
  font-family: $helveticaNeue;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: $text-color;
}

.current-page__active {
  color: #000000;
}
