.main-page {
  padding: 0 20px;
}

.main-page__wrapper {
  display: flex;
  justify-content: space-between;
  max-width: 1110px;
  margin: 0 auto;
  margin-top: 50px;
  padding-bottom: 70px;
}

@media (max-width: $tablet-width-only) {
  .main-page {
    padding: 0 16px;
  }

  .main-page__wrapper {
    width: 100%;
    justify-content: center;
  }
}